

<marquee style="background-color: blanchedalmond;"><h1 style="border: 0in; color:  rgb(9, 42, 58); ">Live Coureir add Tracking System</h1></marquee>

<nav class="navbar navbar-light" style="background-color: #bed5e5;"> 
  <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
  
  <a href="" class="btn btn-outline-info">Home</a>
  <a href="index3.html" class="btn btn-outline-info">About</a>
  <a routerLink="/orderTrack" class="btn btn-outline-warning">Tracking</a>
  <a href="index3.html" class="btn btn-outline-info">Service</a>
  <a href="index3.html" class="btn btn-outline-info">Our Branch</a> 
 
  <li class="nav-item d-none d-sm-inline-block">
  <a href="#" class="btn btn-outline-info">Contact</a>
   
</nav>

<router-outlet></router-outlet>
    
    
 